.coinpageContainer {
  width: 90%;
  max-width: 700px;
}

.backBtnDiv {
  width: 100%;
  margin-bottom: 2rem;
}

.backBtn {
  width: 25px;
  cursor: pointer;
  outline: none;
}

.coinPageHeader {
  display: flex;
  width: 100%;
}

.coinLogo {
  width: 75px;
  height: 75px;
  margin-right: 1rem;
}

.headerText {
  margin-bottom: 3rem;
}

.coinName {
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #ffba35;
  margin-bottom: 0.25rem;
}

.coinPrice {
  font-size: 1.25rem;
  line-height: 1.25rem;
  color: #ff6e49;
}

.subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffba35;
  margin-bottom: 2rem;
}

.tweetsSection {
  width: 100%;
}

.tweetCard {
  width: 100%;
  display: flex;
  border: 2px solid #ffba35;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.tweetAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.tweetText {
  color: #fafafa;
}

.tweetName {
  font-weight: 600;
  font-size: 0.9rem;
}

.tweetContent {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.125rem;
}
