.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  width: 300px;
  margin: 1rem;
  cursor: pointer;
}

.logo {
  height: 75px;
}

.increase {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 35px;
  background-color: #38b236;
  border-radius: 0rem 0.5rem 0rem 0.5rem;
}

.decrease {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  height: 35px;
  background-color: #b23636;
  border-radius: 0rem 0.5rem 0rem 0.5rem;
}

.prevPricesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
