* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: #131313;
  font-family: "Nunito", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
}

.logoDiv {
  position: absolute;
  top: 2rem;
  left: 2rem;
  pointer-events: none;
}

.logo {
  width: 50px;
}

.loader {
  width: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: loader 1.5s ease infinite;
}

@keyframes loader {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1.5);
  }
}
