* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: #131313;
  font-family: "Nunito", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.logoDiv {
  width: 100%;
  margin: 2rem 0rem;
}

.logo {
  width: 60px;
}
