.homepageContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar {
  width: 90%;
  max-width: 600px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ffffff1c;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fafafad0;
  margin: 2rem 0rem;
}

.listContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
