.homepageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 0.25rem;
}

.listContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 7rem 0rem;
}

.loader {
  width: 100%;
  align-self: center;
  justify-self: center;
}
